/*@keyframes growProgressBar {
   0%,
   33% {
      --pgPercentage: 0;
   }
   100% {
      --pgPercentage: var(--value);
   }
}

@property --pgPercentage {
   syntax: '<number>';
   inherits: false;
   initial-value: 0;
}

div[role='progressbar'] {
   --size: 12rem;
   --fg: #369;
   --bg: #def;
   --pgPercentage: var(--value);
   animation: growProgressBar 3s 1 forwards;
   width: var(--size);
   height: var(--size);
   border-radius: 50%;
   display: grid;
   place-items: center;
   background: radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
   font-family: Helvetica, Arial, sans-serif;
   font-size: calc(var(--size) / 5);
   color: var(--fg);
}

div[role='progressbar']::before {
   counter-reset: percentage var(--value);
   content: counter(percentage) '%';
}*/

.circleWrap {
   width: 150px;
   height: 150px;
   background: #e5e5e5;
   border-radius: 50%;
   border: 1px solid #cdcbd0;
}

.circleWrap .circle .mask,
.circleWrap .circle .fill {
   width: 150px;
   height: 150px;
   position: absolute;
   border-radius: 50%;
}

.circleWrap .circle .mask {
   clip: rect(0px, 150px, 150px, 75px);
}

.circleWrap .insideCircle {
   width: 122px;
   height: 122px;
   border-radius: 50%;
   background: #fcfbfb;
   line-height: 120px;
   text-align: center;
   margin-top: 14px;
   margin-left: 14px;
   color: black;
   position: absolute;
   z-index: 100;
   font-weight: 700;
   font-size: 2em;
}

/* color animation */

/* 3rd progress bar */
.mask .fill {
   clip: rect(0px, 75px, 150px, 0px);
   background-color: #3bb98a;
}

.mask.full,
.circle .fill {
   animation: fill ease-in-out 3s;
   transform: rotate(var(--fill-progress));
}

@keyframes fill {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(var(--fill-progress));
   }
}
